node_modules/
dist/
.astro/

_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.vscode/
.bundle/
vendor/bundle/

__pycache__/
*.pyc

*.MOV
*.mov
* copy.md
* copy.*
public/assets/static/old/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
